BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 110
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false

